<%- include('../../partials/header'); -%>
    <%- include('../../partials/nav.ejs'); -%>

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3>This is the express js init project included following features</h3>
                    <ol>
                        <li>Config file and how to include in various js file</li>
                        <li>How to use Controller concept</li>
                        <li>sequelize ORM</li>
                        <li>sequelize ORM</li>
                        <li>Bootstrap 5, font</li>
                        <li>Bootstrap 5, font</li>
                        <li>How to use express session </li>
                        <li>validatorjs for form validation</li>
                    </ol>
                    <h3>How to install</h3>
                    <ol>
                        <li>Create a database, open config.js</li>
                        <li>Execute mergeSchema.js ,, it will create all table by sequelize ORM</li>
                        <li>There are two local variable in app.js file userSession, baseUrl. they can be called from .ejs file</li>
                        <li>nmp install and run</li>
                    </ol>
                </div>
            </div>
        </div>

        <%- include('../../partials/footer.ejs'); -%>